/* quarto syntax highlight colors */
/* :root { */
/*   --quarto-hl-al-color: #95da4c; */
/*   --quarto-hl-an-color: #98c379; */
/*   --quarto-hl-at-color: #c678dd; */
/*   --quarto-hl-bn-color: #d19a66; */
/*   --quarto-hl-bu-color: #c678dd; */
/*   --quarto-hl-ch-color: #98c379; */
/*   --quarto-hl-co-color: #5c6370; */
/*   --quarto-hl-cv-color: #e06c75; */
/*   --quarto-hl-cn-color: #d19a66; */
/*   --quarto-hl-cf-color: #c678dd; */
/*   --quarto-hl-dt-color: #c678dd; */
/*   --quarto-hl-dv-color: #d19a66; */
/*   --quarto-hl-do-color: #a43340; */
/*   --quarto-hl-er-color: #f44747; */
/*   --quarto-hl-ex-color: #61afef; */
/*   --quarto-hl-fl-color: #d19a66; */
/*   --quarto-hl-fu-color: #61afef; */
/*   --quarto-hl-im-color: #98c379; */
/*   --quarto-hl-in-color: #c45b00; */
/*   --quarto-hl-kw-color: #c678dd; */
/*   --quarto-hl-op-color: #c678dd; */
/*   --quarto-hl-pp-color: #c678dd; */
/*   --quarto-hl-re-color: #2980b9; */
/*   --quarto-hl-sc-color: #56b6c2; */
/*   --quarto-hl-ss-color: #da4453; */
/*   --quarto-hl-st-color: #98c379; */
/*   --quarto-hl-va-color: #e06c75; */
/*   --quarto-hl-vs-color: #da4453; */
/*   --quarto-hl-wa-color: #da4453; */
/**/
/* } */
:root {
/*   --quarto-hl-al-color: #95da4c; */
  --quarto-hl-al-color: #ff5555;
/*   --quarto-hl-an-color: #98c379; */
  --quarto-hl-an-color: #6a737d;
/*   --quarto-hl-at-color: #c678dd; */
  --quarto-hl-at-color: #f97583;
/*   --quarto-hl-bn-color: #d19a66; */
  --quarto-hl-bn-color: #79b8ff;
/*   --quarto-hl-bu-color: #c678dd; */
  --quarto-hl-bu-color: #f97583;
/*   --quarto-hl-ch-color: #98c379; */
  --quarto-hl-ch-color: #9ecbff;
  --quarto-hl-co-color: #6a737d;
  --quarto-hl-cv-color: #6a737d;
  --quarto-hl-cn-color: #79b8ff;
  --quarto-hl-cf-color: #f97583;
  --quarto-hl-dt-color: #f97583;
  --quarto-hl-dv-color: #79b8ff;
  --quarto-hl-do-color: #6a737d;
  --quarto-hl-er-color: #ff5555;
  --quarto-hl-ex-color: #f97583;
  --quarto-hl-fl-color: #79b8ff;
  --quarto-hl-fu-color: #b392f0;
  --quarto-hl-im-color: #9ecbff;
  --quarto-hl-in-color: #6a737d;
  --quarto-hl-kw-color: #f97583;
  --quarto-hl-op-color: #e1e4e8;
  --quarto-hl-pp-color: #f97583;
  --quarto-hl-re-color: #6a737d;
  --quarto-hl-sc-color: #79b8ff;
  --quarto-hl-ss-color: #9ecbff;
  --quarto-hl-st-color: #9ecbff;
  --quarto-hl-va-color: #ffab70;
  --quarto-hl-vs-color: #9ecbff;
  --quarto-hl-wa-color: #ff5555;
}

/* other quarto variables */
:root {
  --quarto-font-monospace: "IBM Plex Mono", "Iosevka Web", "agave Nerd Font", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code span.al {
  background-color: #4d1f24;
  font-weight: bold;
  color: #95da4c;
}

code span.an {
  color: #98c379;
}

code span.at {
  color: #c678dd;
}

code span.bn {
  color: #d19a66;
}

code span.bu {
  color: #c678dd;
}

code span.ch {
  color: #98c379;
}

code span.co {
  font-style: italic;
  color: #5c6370;
}

code span.cv {
  font-style: italic;
  color: #e06c75;
}

code span.cn {
  color: #d19a66;
}

code span.cf {
  color: #c678dd;
}

code span.dt {
  color: #c678dd;
}

code span.dv {
  color: #d19a66;
}

code span.do {
  color: #a43340;
}

code span.er {
  color: #f44747;
  text-decoration: underline;
}

code span.ex {
  font-weight: bold;
  color: #61afef;
}

code span.fl {
  color: #d19a66;
}

code span.fu {
  color: #61afef;
}

code span.im {
  color: #98c379;
}

code span.in {
  color: #c45b00;
}

code span.kw {
  color: #c678dd;
}

pre > code.sourceCode > span {
  color: #abb2bf;
}

code span {
  color: #abb2bf;
}

code.sourceCode > span {
  color: #abb2bf;
}

div.sourceCode,
div.sourceCode pre.sourceCode {
  color: #abb2bf;
}

code span.op {
  color: #c678dd;
}

code span.pp {
  color: #c678dd;
}

code span.re {
  background-color: #153042;
  color: #2980b9;
}

code span.sc {
  color: #56b6c2;
}

code span.ss {
  color: #da4453;
}

code span.st {
  color: #98c379;
}

code span.va {
  color: #e06c75;
}

code span.vs {
  color: #da4453;
}

code span.wa {
  color: #da4453;
}

.prevent-inlining {
  content: "</";
}

/*# sourceMappingURL=935a306eefa94366c21e1a970dddb765.css.map */
/*-- scss:defaults --*/

/*-- scss:rules --*/

code span.al {
  font-weight: bold;
  color: #ff5555;
}

code span.an {
  color: #6a737d;
}

code span.at {
  color: #f97583;
}

code span.bn {
  color: #79b8ff;
}

code span.bu {
  color: #f97583;
}

code span.ch {
  color: #9ecbff;
}

code span.co {
  color: #6a737d;
}

code span.cv {
  color: #6a737d;
}

code span.cn {
  color: #79b8ff;
}

code span.cf {
  color: #f97583;
}

code span.dt {
  color: #f97583;
}

code span.dv {
  color: #79b8ff;
}

code span.do {
  color: #6a737d;
}

code span.er {
  color: #ff5555;
  text-decoration: underline;
}

code span.ex {
  font-weight: bold;
  color: #f97583;
}

code span.fl {
  color: #79b8ff;
}

code span.fu {
  color: #b392f0;
}

code span.im {
  color: #9ecbff;
}

code span.in {
  color: #6a737d;
}

code span.kw {
  color: #f97583;
}

pre > code.sourceCode > span {
  color: #e1e4e8;
}

code span {
  color: #e1e4e8;
}

code.sourceCode > span {
  color: #e1e4e8;
}

div.sourceCode,
div.sourceCode pre.sourceCode {
  color: #e1e4e8;
}

code span.op {
  color: #e1e4e8;
}

code span.pp {
  color: #f97583;
}

code span.re {
  color: #6a737d;
}

code span.sc {
  color: #79b8ff;
}

code span.ss {
  color: #9ecbff;
}

code span.st {
  color: #9ecbff;
}

code span.va {
  color: #ffab70;
}

code span.vs {
  color: #9ecbff;
}

code span.wa {
  color: #ff5555;
}

.prevent-inlining {
  content: "</";
}
